  <div class="question-container">
    <h2>Top Questions</h2>
    <div class="all-questions">
     <%@questions.each do |question|%>

      <div class="question">
        <a href="/questions/<%=question.id%>"><%=question.title%></a> By: <a href="users/<%=User.find(question.user_id).id%>"><%=User.find(question.user_id).username%></a><br>
        <p id="questions_timestamp"><%= "Created on #{long_form_date(question.created_at)}." %></p>
      </div>
     <%end%>
   </div>
     <div class="question-link">
      <% if current_user %>
      <a id="new-question" href="/questions/new">Create a new question</a>
      <% end %>
     </div>
   </div>
