<div class="show-page">
  <div id="question">
  <h2><%=@question.title%></h2>
  <p>Created at: <%= @question.created_at.to_s[0..9] %></p>

  <p>By: <a href="/users/<%=@question.user_id%>"><%=@question.user.username%></a></p>
  <p class="ques_body"><%=@question.body%></p>
</div>


  <%@answers.each do |answer|%>
    <div class="answer">
      <% if current_user %>
      <form method="post" action="/questions/<%=@question.id%>/answers/<%=answer.id%>/vote" class="inline">
      <button id="up-vote-button" type="submit" value="submit_value" class="vote-button"></button>
      </form>
      <%end %>
        <% if current_user %>
      <form method="post" action="/questions/<%=@question.id%>/answers/<%=answer.id%>/downvote" class="inline">
      <button id="down-vote-button" type="submit"  class="vote-button"></button>
      </form>
      votes: <%=answer.points %>
      <% end %>

     <span class="response"> | <%=answer.response%></span><br>
     <p>By: <a href="/users/<%=answer.user_id%>"><%=answer.user.username%></a></p>
      <%answer.comments.each do |comment|%>
      <p class="margin"><span class="comment"><%=comment.response%></span></p>
      <p class="margin"><span class="user_id_comment">By: <a href="/users/<%=comment.user_id%>"><%=User.find(comment.user_id).username%></a></span></p>
        <%end%>

      <%if current_user%>
        <form action= "/questions/<%=@question.id%>/answers/<%=answer.id%>" method="post">
          <% if owner? %>
          <input type="hidden" name="_method" value="Delete">
          <input type="submit" value="Delete your Response">
          <% end %>
      <%end%>

      </form>
      <br>
      <% if current_user  %>
        <a href="/questions/<%=@question.id%>/answers/<%=answer.id%>/comments/new">Add a comment</a><br>
        <hr width="85%">
      <% end %>

    </div>
    <%end%>


    <footer>
      <%if current_user %>
        <a href="/questions/<%=@question.id%>/answers/new">Reply</a>
      <% end %>
      <br>
        <%if current_user && owner? %>
        <a href="/questions/<%=@question.id%>/edit">Edit your post</a>
        <% end %>
      <br>
        <%if current_user && owner?%>
          <form action= "/questions/<%=@question.id%>" method="post">
            <input type="hidden" name="_method" value="Delete">
            <input type="submit" value="Delete your question">
          </form>
        <%end %>
    </footer>
</div>
