<div class="show-page">
  <h2><%=@question.title%></h2>
  <h4><%=@question.body%></h4>

  <p><%@answers.each do |answer|%>
      <%=answer.response%>
      <form action= "/questions/<%=@question.id%>/answers/<%=answer.id%>" method="post">
      <input type="hidden" name="_method" value="Delete">
      <input type="submit" value="Delete your Response">
      </form>
      <br>
    <%end%>
    </p>

    <footer>
      <a href="/questions/<%=@question.id%>/answers/new">Reply</a>
      <br>
      <a href="/questions/<%=@question.id%>/edit">Edit your post</a>

      <br>
        <form action= "/questions/<%=@question.id%>" method="post">
        <input type="hidden" name="_method" value="Delete">
        <input type="submit" value="Delete your question">
        </form>
    </footer>
</div>
