<div class="show-page">
  <h2><%=@question.title%></h2>
  <h4><%=@question.body%></h4>

  <p><%@answers.each do |answer|%>
        <form method="post" action="/questions/<%=@question.id%>/answers/<%=answer.id%>/vote" class="inline">
        <button id="up-vote-button" type="submit" value="submit_value" class="vote-button"></button>
        </form>
           <%=answer.points %>   <p id="response"> <%=answer.response%></p>
        <form method="post" action="/questions/<%=@question.id%>/answers/<%=answer.id%>/downvote" class="inline">
        <button id="down-vote-button" type="submit"  class="vote-button"></button>
        </form>



      <%if current_user && owner?%>
        <form action= "/questions/<%=@question.id%>/answers/<%=answer.id%>" method="post">
          <input type="hidden" name="_method" value="Delete">
          <input type="submit" value="Delete your Response">
      <%end%>
      </form>
      <br>
    <%end%>
    </p>

    <footer>
      <%if current_user %>
        <a href="/questions/<%=@question.id%>/answers/new">Reply</a>
      <% end %>
      <br>
        <%if current_user && owner? %>
        <a href="/questions/<%=@question.id%>/edit">Edit your post</a>
        <% end %>
      <br>
        <%if current_user && owner?%>
          <form action= "/questions/<%=@question.id%>" method="post">
            <input type="hidden" name="_method" value="Delete">
            <input type="submit" value="Delete your question">
          </form>
        <%end %>
    </footer>
</div>
