<div class="show-page">
  <div id="question">
  <h2><%=@question.title%></h2>
  <%= erb :"partials/_question", locals: {question: @question}%>
  <p>By: <a href="/users/<%=@question.user_id%>"><%=@question.user.username%></a></p>
  <p class="ques_body"><%=@question.body%></p>
</div>


  <%@answers.each do |answer|%>
<%= erb :'/partials/_new_answer', layout: false, locals: {answer: answer, question: @question} %>
    <%end%>


    <footer>
      <%if current_user %>
      <div  id="response" class="container">
        <a id="reply_click" href="/questions/<%=@question.id%>/answers/new">Reply</a>
      <% end %>
    </div>
      <br>
        <%if current_user && owner? %>
        <a href="/questions/<%=@question.id%>/edit">Edit your post</a>
        <% end %>
      <br>
        <%if current_user && owner?%>
          <form action= "/questions/<%=@question.id%>" method="post">
            <input type="hidden" name="_method" value="Delete">
            <input type="submit" value="Delete your question">
          </form>
        <%end %>
    </footer>
</div>
