<div class="container">
  <% if current_user && owner? %>
    <h3>Welcome <%= @user.username%></h3>
    <%else%>
    <h3><%= @user.username%>'s questions</h3>
  <% end %>
  <h4>View all questions</h4>

<% @user.questions.each do |question| %>
  <a href="/questions/<%=question.id%>"><%=question.title%></a><br>
<% end %>

</div>


<div class="container">
  <h3>All answers</h3>
  <% @user.answers.each do |answer| %>
  Points: <%= answer.points %>
    <a href="/questions/<%=answer.question_id%>/answers"><%=answer.response%></a><br>
  <% end %>
  </div>


<div class="container">
  <h3>View comments</h3>
  <% @user.comments.each do |comment| %>
    <a href="/questions/<%=comment.question_id%>/answers"><%=answer.response%></a><br>
  <% end %>
  </div>
